@import "compass";
@import "compass/layout";

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

body {
    font-family: 'Oxygen', sans-serif;
}

.contain-to-grid .top-bar { margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 { color: inherit; font-family: inherit }
strong {
    color: #FA3C1A;
}

.block {
    @include box-shadow(0 -6px 15px 0 rgba(0, 0, 0, .4));
    background: url(../images/pattern.png) repeat;
    border-top: 1px solid rgba(0, 0, 0, .4);
    padding: emCalc(50px);
    &.dark {
        background: url(../images/pattern_dark.png) repeat;
        color: #FFF;
    }
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;  
        }
    }
    h2 {
        color: #23323E;
    }
}

.intro {
    h1 {
        color: #EEE7DA;
        margin-top: 4em;
        margin-bottom: .15em;
    }
    h5.subheader {
        color: #E3C34C;
    }
    .action {
        margin-top: 3em;
        .alert {
            margin-left: 1em;
        }
    }
   
    background: #000 url(../images/background.jpg) center top no-repeat fixed;
    @include background-size(cover);
    height: emCalc(820px);
    text-align: center;
    text-shadow: 0 0 1em rgba(0, 0, 0, .4);
    text-transform: uppercase;
}

.details {
    text-align: justify;
    text-shadow: 0 1px 0 #FFF;

    .why {
        border-top: 1px solid darken(#FFF, 20%)
    }
}

.media {
    background: #000 url(../images/background_2.jpg) center top no-repeat fixed;
    @include background-size(cover);
    color: #EEE7DA;
    text-align: center;
    text-shadow: 0 0 1em rgba(0, 0, 0, .4);
    text-transform: uppercase;

    h2 {
        color: #E3C34C;
        margin-bottom: .15em;
    }

    .video {
        margin-top: 3em;
    }
        .flex-video {
            @include box-shadow(0 0 10px 0 #000);
            background: #23323E;
        }
}

.about {
    text-align: justify;
    text-shadow: 0 1px 0 #FFF;
}

.respond {
    background: #000 url(../images/background_3.jpg) center top no-repeat fixed;
    h2 {
        color: #EEE7DA;
    }
    @include background-size(cover);
    
    .panel {
        @include box-shadow(0 0 10px 0 #000);
    }
    
    .todos {
        margin-top: 2em;
        .row {
            margin-bottom: 1.5em;
        }
    }
    
    .completed {
        text-align: center;
        text-transform: uppercase;
    }
}

.twitter {
    text-shadow: 0 1px 0 #FFF;
    .tweets {
        width: 100%;
    }
}

.achievements {
    text-align: center;
}

.resources {
    text-shadow: 0 1px 1px #000;
    a {
        color: inherit;
    }
    h2 {
        color: #EEE7DA;
        border-bottom: 1px solid lighten(#000, 15%);
    }
    h3 {
        color: #E3C34C;
    }
}

.press {
    a.button {
        text-decoration: none;
    }
}

footer.block {
    padding: 1.6em 0;
    text-align: center;
}